<div class="ecomtraffic-about" bis_skin_checked="1">
    <div class="ecomtraffic_padding-global" bis_skin_checked="1">
      <div class="ecomtraffic_container-large" bis_skin_checked="1">
        <div class="ecomtraffic_padding-section ecomtraffic_is--global" bis_skin_checked="1">
          <div class="ecomtraffic_about-grid" bis_skin_checked="1">
            <div class="ecomtraffic_about-card ecomtraffic_is--image ecomtraffic_is--1st" bis_skin_checked="1">
              <div class="ecomtraffic_acard-image" bis_skin_checked="1">
                {% if section.settings.img != blank %}
                <img class="ecomtraffic_image ecomtraffic_is--cover" src="{{ section.settings.img | img_url : "master"}}" width="" height="" alt="" sizes="(max-width: 479px) 93vw, (max-width: 767px) 95vw, (max-width: 991px) 92vw, 22vw" loading="lazy" srcset="//lotgenootje.com/cdn/shop/t/22/assets/lotgenootje-img7_500x.png?v=4486161376765019711733998528 500w, //lotgenootje.com/cdn/shop/t/22/assets/lotgenootje-img7.png?v=4486161376765019711733998528 570w">
                {% endif %}
                <div class="ecomtraffic_bg-layer is--a-b" bis_skin_checked="1">
                  <div class="ecomtraffic_bg-layer w-embed" bis_skin_checked="1"><svg class="is--desktop" xmlns="http://www.w3.org/2000/svg" width="151" height="73" viewBox="0 0 151 73" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M151.001 74.7573L0.500288 74.7571C37.6668 -0.438027 71.7236 -9.79606 151.001 7.93126L151.001 74.7573Z" fill="#E8DCD5"></path>
                    </svg>
                    <svg class="is--fmobile" xmlns="http://www.w3.org/2000/svg" width="224" height="66" viewBox="0 0 224 66" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M177.867 66.3618L0.595762 66.3616C44.3733 -22.2091 160.188 -21.1037 223.204 66.3615L177.867 66.3618Z" fill="#E8DCD5"></path>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="ecomtraffic_acard-label ecomtraffic_is--right" bis_skin_checked="1">
                <div class="ecomtraffic_acard-name" bis_skin_checked="1">
                  <div bis_skin_checked="1">{{ section.settings.name }}</div>
                </div>
                <div class="ecomtraffic_acard-position" bis_skin_checked="1">
                  <div bis_skin_checked="1">EIGENAAR</div>
                </div>
              </div>
            </div>
            <div id="w-node-_25f0deae-4b05-c682-cef9-f21016e95cec-16e95cdb" class="ecomtraffic_about-card ecomtraffic_is--info" bis_skin_checked="1">
              <div id="w-node-_25f0deae-4b05-c682-cef9-f21016e95ced-16e95cdb" class="ecomtraffic_bgabout-card" bis_skin_checked="1">
                <div class="ecomtraffic_bg-layer w-embed" bis_skin_checked="1"><svg xmlns="http://www.w3.org/2000/svg" width="58" height="55" viewBox="0 0 58 55" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M-0.00034866 0.000463173L-0.000344876 58.4141L57.7858 58.4141C50.4216 32.6642 33.1042 15.1071 -0.00034866 0.000463173Z" fill="#E8DCD5"></path>
                  </svg></div>
                <div class="ecomtraffic_bg-layer w-embed" bis_skin_checked="1"><svg xmlns="http://www.w3.org/2000/svg" width="65" height="55" viewBox="0 0 65 55" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.979218 55.7042L65 55.7042L65 0C32.7549 18.4879 11.7525 34.9808 0.979218 55.7042Z" fill="#E8DCD5"></path>
                  </svg></div>
              </div>
              <div class="ecomtraffic_about-ccontent" bis_skin_checked="1">
                <div class="ecomtraffic_about-title" bis_skin_checked="1">
                  <h2 class="ecomtraffic_global-title">{{ section.settings.title }}</h2>
                </div>
                <div class="ecomtraffic_about-desc" bis_skin_checked="1">
                 {{ section.settings.paragraph }}
                </div>
              </div>
            </div>
            <div id="w-node-_25f0deae-4b05-c682-cef9-f21016e95cfa-16e95cdb" class="ecomtraffic_about-card ecomtraffic_is--image ecomtraffic_is--2nd" bis_skin_checked="1">
              <div class="ecomtraffic_acard-image" bis_skin_checked="1">
                {% if section.settings.img1 != blank %}
                <img class="ecomtraffic_image ecomtraffic_is--cover" src="{{ section.settings.img1 | img_url : "master"}}" width="" height="" alt="" sizes="(max-width: 479px) 93vw, (max-width: 767px) 95vw, (max-width: 991px) 92vw, 22vw" loading="lazy" srcset="//lotgenootje.com/cdn/shop/t/22/assets/lotgenootje-img8_500x.png?v=116796957396001812131733998530 500w, //lotgenootje.com/cdn/shop/t/22/assets/lotgenootje-img8.png?v=116796957396001812131733998530 570w">
                {% endif %}
                <div class="ecomtraffic_bg-layer is--alb" bis_skin_checked="1">
                  <div class="ecomtraffic_icon w-embed" bis_skin_checked="1"><svg class="is--desktop" xmlns="http://www.w3.org/2000/svg" width="177" height="77" viewBox="0 0 177 77" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M-0.000615568 76.1518L176.5 76.1518C138.974 0.229647 81.9747 -13.4136 -0.000614483 13.1391L-0.000615568 76.1518Z" fill="#E8DCD5"></path>
                    </svg>
                    <svg class="is--fmobile" xmlns="http://www.w3.org/2000/svg" width="231" height="69" viewBox="0 0 231 69" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M51.0929 0.571207L230.501 0.571397C191.501 106.709 -19.4985 75.2087 2.46711 0.608109L51.0929 0.571207Z" fill="#E8DCD5"></path>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="ecomtraffic_acard-label" bis_skin_checked="1">
                <div class="ecomtraffic_acard-name" bis_skin_checked="1">
                  <div bis_skin_checked="1">{{ section.settings.name1 }}</div>
                </div>
                <div class="ecomtraffic_acard-position" bis_skin_checked="1">
                  <div bis_skin_checked="1">Lotgenootje</div>
                </div>
              </div>
            </div>
          </div>
          <div class="ecomtraffic_button-wrapper ecomtraffic_is--about" bis_skin_checked="1">
            <a href="{{ section.settings.button_url }}" class="ecomtraffic_button w-inline-block">
              <div bis_skin_checked="1">{{ section.settings.button }}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>





{% schema %}
  {
    "name": "About",
    "settings": [
      {
        "type": "image_picker",
        "id": "img",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "name",
        "label": "Name"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "paragraph",
        "label": "Paragraph"
      },
      {
        "type": "image_picker",
        "id": "img1",
        "label": "Image1"
      },
      {
        "type": "text",
        "id": "name1",
        "label": "Name1"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      },
      {
        "type": "text",
        "id": "button",
        "label": "Button Text"
      }
    ],
    "presets": [
      {
        "name": "About"
      }
    ]
  }
{% endschema %}